body {
  font-family: 'Arial';
}

.flex-container {
  display: flex;
  height: 500px;
  width: 700px;
  justify-content: center;
  /*align-items: center;*/
}

.form-container {
  text-align: center;
}

#heights-form {
  display: inline-block;
}

#heights-form-input {
  width: 300px;
}

.flex-td {
  display: flex;
}

.block {
  border: 1px solid #ccc;
  height: 10px;
  width: 10px;
}

.gray-block {
  background-color: #d3d3d3;
}

.blue-block {
  background-color: #0ff;
}

.black-block {
  background-color: #000;
}