body {
  font-family: 'Arial';
}

.flex-container {
  display: flex;
  height: 500px;
  width: 700px;
  justify-content: center;
  /*align-items: center;*/
}

.form-container {
  text-align: center;
}

#heights-form {
  display: inline-block;
}

#heights-form-input {
  width: 300px;
}

#water-walls-table {
  width: 100%;
  border: 1px solid #000;
}

td {
  border: 1px solid #ccc;
  height: 10px;
  width: 10px;
}

#gray-square {
  background-color: #d3d3d3;
}

#blue-square {
  background-color: #0ff;
}

#black-square {
  background-color: #000;
}